@{
    ViewData["Title"] = "Add Student";
    int courseId = (int)ViewBag.CourseId;
    var users = (IEnumerable<dynamic>)ViewBag.Users;
}
<h2>افزودن دانشجو به دوره</h2>
<form asp-area="Admin" asp-controller="Courses" asp-action="AddStudent" method="post">
    <input type="hidden" name="courseId" value="@courseId" />
    <div class="form-group">
        <label>کاربر</label>
        <select class="form-control" name="userId">
            @foreach (var u in users)
            {
                <option value="@u.UserId">@u.UserName (@u.UserId)</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-success">افزودن</button>
</form>