@model DataLayer.Entities.Course.Course
@{
    ViewData["Title"] = "Delete Course";
}
<h2>حذف دوره</h2>
<div>
    <p>آیا از حذف دوره "@Model.Title" مطمئن هستید؟</p>
    <form asp-area="Admin" asp-controller="Courses" asp-action="Delete" method="post">
        <input type="hidden" asp-for="CourseId" />
        <button type="submit" class="btn btn-danger">حذف</button>
        <a class="btn btn-secondary" asp-area="Admin" asp-controller="Courses" asp-action="Index">انصراف</a>
    </form>
</div>